* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    height: 100vh;
  }
  
  .botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    background-color: #353535;
  }
  